*.yml
*.out
dist_file_*
__pycache__/*
*/__pycache__/*
*/**/__pycache__/*
*_latest_output.jpg
*_sample.jpg
jobs/*.sh
.ipynb_checkpoints
*.safetensors
*_test.yaml
.DS_Store

# logs
1024x1024/
1280x1280/
2048x1024/
2048x2048/
2560x2560/
4096x2048/
4096x4096/
